@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Paytone+One&display=swap");
@import "tailwindcss";

@theme {
  --color-skpurple: #6a88f8;
  --color-skpurple-hover: #4565dd;
  --color-skred: #f55f4b;
  --color-skyellow: #fcd343;
  --color-skpink: #ff7989;
  --color-skbw: #fcf0e3;
  --color-skbw-hover: #f5d9b3;
  --color-skgreen: #d9fbb0;
  --color-error-container: #F9DEDC;
  --color-on-error-container:#852221;
  --font-nunito: "Nunito Sans", sans-serif;
  --font-paytone: "Paytone One", sans-serif;

  --inset-shadow-sksm: inset 0 -1px 1px 0px rgba(0, 0, 0, 0.1);
  --inset-shadow-pressed: inset 8px 8px 8px 0 rgba(0, 0, 0, 0.25);
}

.neo-shadow {
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0);
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

input, textarea {
  background-color: white;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0);
  border: black 2px solid;
  padding: 8px;
  border-radius: 1rem;
}